extends ../layout

block content
  .ui.segment
    h1 Add a new director
    form.ui.form(action="/directors" method="POST")
      .field
        label Name
        input(
          type="text"
          id="nameInput"
          name="director"
          placeholder="Director's name"
          required
        )
      .field
        label Movies directed
        select.ui.fluid.dropdown(
          name="movies[]"
          multiple="multiple"
          id="movie-select"
          required
        )
          each movie in movies
            option(value=movie.title) #{movie.title}
      button.ui.primary.button(
        type="submit"
      ) Submit
  script
    include ../../public/scripts/form.js